@mixin backgroundImage() {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banner {
    background-image: url("https://s3-alpha-sig.figma.com/img/974e/75d3/dd74a32cb59cee24882e5799a1889b0f?Expires=1678665600&Signature=JvjY~dsSMcc4DeHKmbFpIe6yCEXB4B4zLMetHAXa2TAtSAPVTliPSKu4b2g6stqZ9f068GAE7xN2cjzqaANEmv34MjoWAzswRI75qcHKMPfSHNaDMMZX7UqJEcUl-Qii7lDI9Nf~ZfR-iHOEQOCzgSFJh-kZNzOTUCVJJ-8vChrw8Gr8TRCoFefSv6eG0knnMYZhAE6J~O6m0T5C6nhhivSssy9pL7d-q6hy-o8Bfc8g53LLjQM9mUa5Ln35z-h-BhXPkqNQnSEr1o4SXGE2nU6OqTRptF5FRR4mYLSZiB6nzdhieNFzjEtqUPbPGQ6uc-6T98PRv4066s3tbqF5kA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
    height: 832px;
    @include backgroundImage()
}

.second {
    .img-1 {
        background-image: url("https://s3-alpha-sig.figma.com/img/f7e3/9a0f/10236da618aa51dc19513bf0ea6e655c?Expires=1678665600&Signature=KpevVkcGpFTdNxbzKLG6yeFaFrlK6zThJnzRYKur7ifxWXEdQiuHhb98~ZTkbKJT-eCQyIBYf3~pBpAP2k6iYOcMxCb3LovhF16wnBD8cZqGN1Hk~K9fE8oi3vFDzWLMSI4ypL2CrlnGDwVvj8iyIjkJkFaEL5vaCZl2VQ3C9XFz6AZNlmGXxtCUJEuhL52CgjRVzxSk5kBeE82qTaDKIf7xATqCY81~ZNQKtu2fg~0eNrkDkHWoZXYsAhxaZQlIX-UR-xVWU9gO5dt6YJWlCPaFkMf4kYCt9QvE5Ef6KgWk1wsPEDUkDM9SZn1xuyQBrmByGil1kaG73loHJvJMzw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
        height: 300px;
        @include backgroundImage()
    }
    .img-2 {
        background-image: url("https://s3-alpha-sig.figma.com/img/e7eb/3a3a/81a79781d3364e90a1a9a55fd7205f81?Expires=1678665600&Signature=CJxcSIhIupSDHk2iyFSIeLsVV7R1X4YejRGwEsn3lTLwOQicY1tjoCh1QdG8oBIeRgyN6~0yABOHAi5C4mYMEP5ZVYXhgOb1k8R0ZukJXnu6dUS5VofrGaWdwx0cLZk80l90VtSD2w08lauvZWatJ0hmUd6ucKLdE0jIn9nnaFsPYlgKkrJAf708w1CuFI0VU8ZAi9EeMBnvfLaS2ftTk4pY75XLXq8llY6ws9nUO9XYBIsk1gSFFuTo4hoIhXkBXPXg1FIJo--rDLNN4FCSNJF8TIBIgAwXSio~nu~iDUPMADH-X9MkuHGxBBmB4fvyMWn6Y~tAQdd1lZzBkM-S9Q__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
        height: 300px;
        @include backgroundImage()
    }
    .img-3 {
        background-image: url("https://s3-alpha-sig.figma.com/img/bbb0/ac34/005ebd25f74c368e02468bfbc4284d6d?Expires=1678665600&Signature=AUT7XNU1K4vxixK3gmD~oiy~j9mQpvpWump3CxEuOspk3OgmtKcAh0xCEQwR8JaZ2FD6cRmi-ZdgxEl1EuX1VDmo9S9cnuizpyHZfEimJhhP7mPN5ZVvrMQEcrRNpl8BqBaZyHuBJ4dylU6YMsg2ndiHXx6W~bjC2b5QoGqHD5Iv17mIGaX0HXnNmXllRu8iaaW1Mz2wjhisobghO45y~Gz1mTVnVdXS1P44Pd336V4aD~QhTSX7bBl8J-heqKgUL9utHm5MFTDMM8v1EHXYGMliGz2hZnJ6L4WTdnF1hVOjmosqWVM2lbNjP33xxeSSJt9iRnsxUTaIN5XRc5qJ6w__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
        height: 300px;
        @include backgroundImage()
    }
    .img-4 {
        background-image: url("https://s3-alpha-sig.figma.com/img/d463/615a/57d67575e6baaa5e231a424e373e221f?Expires=1678665600&Signature=hfJziGlZuLrF~GGjzvlijC24SLGvOs-rlRBUeJ3U44wp7NCwUhEhwzkhg4OdD8~IkRzWX7M9hbh~rnUBUeeQQGmHau8yk1o8c2OAXmgXr1II62io-3dpsw7u2fMDgCwCIsaJA-dICheVr9z3roZ2CyX6Mh02c8Z7NXIIZyRtL41NN-OXJUnie6AHVQKmy64xe3DqYbMgWZWmsTHbuSdWvoVAxGJpgOV9MlMUI2JtF~NOcLSdC~3qAr~n11tmU8f9dvqlpmm~ATTVQRMU7YBxKrWd0L0wJeKv5AzwoGGk8rQeGDgi5d0MHbYPwcln20SAIZJf1mSmC634Tdt1VAB~WA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
        height: 300px;
        @include backgroundImage()
    }
}

.third {
    .teacher-1 {
        background-image: url("https://s3-alpha-sig.figma.com/img/99b2/1ed1/2f70440d2c85d69a08438f40b0295912?Expires=1678665600&Signature=p7UMiCCE5jdUmDxalh23nvD6cNg0TDKJCeM6V4-IcwetNcraC18BzZT0~wAiUVUlsBT4w4KpK6xyCrnBLXjiH-bEatvcln6VUOUnKS8bNbHGRbhcozy3QJOKV1DzYbZgD6lL-BrCsmAabT5FCoVukt7dOXoRyH5HFowIUb~zQaqaZWsoEPMYe-CxY3kUjCkjVi4zw-j10nvKOHeoPfTMTnY~H7r6rH37A3vhMeRNA3FPydj292Z0d~yattSEIxrw2UHevWzf7DtalXVQii3sdxnQaBwkw~kh5PemiF6pAdA3zqlLPVRTOKtvH54IuO0erjA4MvCmzUITQjDGjCgaFw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
        height: 268px;
        @include backgroundImage();
        background-position: right top;
        border-radius:50%;
    }
    .teacher-2 {
        background-image: url("https://s3-alpha-sig.figma.com/img/caaf/f8ca/3441481f7e9d3f493ef9cea2706f0417?Expires=1678665600&Signature=mghv-39jxCjqRLJ1I6ppT90DqZaZ1ADy0mUbN0yU4ea9aOYssyTWT7uGTIueCVr7TREIf1zCZ1yL4kmzkSO-toolud4LDJnatNWaiUtAKqt77IZKe6KBsEQN7sFAtLeTbxUryYKOLxiwkrcgtly1AKZvRvVjrTuquKzDGpt0c1ZfaOYmhrfhLAhclK0nKV-bi7kUg7ysRpvjgQ9xbqOdANCRIFYpGy5H1KVgWvuRvoglu2hYBpVQfDjTes2JCUGVKUrOv-UnvP2H~DmQ9tpI-0uUnCfXsSAYr4kUVA4f7Lk4wGIbfOPHvz3yCGCkFN8hzaGnE90UkJCSjZzfanXliQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
        height: 268px;
        @include backgroundImage();
        background-position: right;
        border-radius:50%;
    }
}